* {
    margin: 0;
}

html {
    background-color: #343c3f;
}

/* CSS cho phần trung tâm trang web */
#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* màu nền trang web */
    color: #fff;
}

  /* CSS cho định dạng số */
.number {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    line-height: 170px;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .number {
        line-height: 130px;
        font-size: 2.5rem;
    }
}

/* Mobile */ 
@media (max-width: 740px) {
    .number {
        line-height: 100px;
        font-size: 2rem;
    }
}

/* Mobile low */
@media (max-width: 550px) {
    .number {
        line-height: 90px;
        font-size: 1.5rem;
    }
}

/* Mobile low 1 */
@media (max-width: 420px) {
    .number {
        line-height: 90px;
        font-size: 1.4rem;
    }
}

/* Mobile low 2 */
@media (max-width: 380px) {
    .number {
        line-height: 100px;
        font-size: 1.3rem;
    }
}

/* Mobile low 3 */
@media (max-width: 355px) {
    .number {
        line-height: 100px;
        font-size: 1.2rem;
    }
}