* {
    margin: 0;
}

html {
    background-color: #343c3f;
}

/* CSS cho phần trung tâm trang web */
#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* màu nền trang web */
    color: #fff;
}

  /* CSS cho định dạng số */
.number {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    line-height: 170px;
}